@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0068FF;
  --text: #FFFFFF;
}

@font-face {
  font-family: 'AvenirRegular';
  src: url('../public/fonts/avenir/AvenirRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('../public/fonts/avenir/AvenirHeavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../public/fonts/helvetica/dehinted-subset-HelveticaNeueLTGEOW82-75Bd.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/helvetica/dehinted-subset-HelveticaNeueLTGEOW82-55Rm.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--text);
}

